# Etherscan API Keys
# Obtén tu API key gratuita en: https://etherscan.io/apis

# Sepolia Testnet
VITE_ETHERSCAN_API_KEY_SEPOLIA=YourApiKeyToken

# Ethereum Mainnet
VITE_ETHERSCAN_API_KEY_MAINNET=YourApiKeyToken

# Polygon
VITE_POLYGONSCAN_API_KEY=YourApiKeyToken

# BSC
VITE_BSCSCAN_API_KEY=YourApiKeyToken

# Avalanche
VITE_SNOWTRACE_API_KEY=YourApiKeyToken
